{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">


        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>

            <div class="col-md-9">
                <small><a href="{{ path('app_account') }}" class="btn btn-light btn-sm">Retour</a> {# <a target="_blank" href="{{ path('app_invoice_customer', { id_order : order.id }) }}" class="btn btn-light btn-sm">Ma facture</a> #}</small>

                <h5 class="mt-4">Ma commande n°{{ order.id }}</h5>
                <span>Passée le : {{ order.createdAt|date('d/m/Y') }}</span><br/>
                {{ include('admin/state.html.twig', { field : { 'value' : order.state } } ) }}
                <br/>
                <hr>

                <div class="row my-4">
                    <div class="col-md-6">
                        <strong>Adresse de facturation :</strong><br/>
                        {{ order.billingAddress|raw }}
                    </div>
                    <div class="col-md-6">
                        <strong>Magasin de retrait</strong><br/>
                        {{ order.storeName }}
                        
                    <div class="col-md-6">
                        <strong>Date de retrait</strong><br/>
                        {{ order.pickupDate|date('d/m/Y') }}
                </div>
                </div>

                <hr>

                <strong>Contenu de la commande :</strong><br/>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Illustration</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire H.T</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in order.orderDetails %}
                        <tr>
                            <td>
                                <img src="/uploads/{{ game.gameImage }}" width="100px" alt="">
                            </td>
                            <td>{{ game.gameName }}</td>
                            <td>{{ game.gameQuantity }}</td>
                            <td>{{ game.gamePrice|price }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <div>
                    <strong>Total T.T.C : </strong> {{ order.total|price }}
                </div>

            </div>
        </div>

    </div>

{% endblock %}
    </div>